@import "~bulma/sass/utilities/initial-variables"

// Config
$shop-worked-yellow: #E8AE0C
$shop-worked-yellow-invert: #fff

$primary: $shop-worked-yellow
$primary-invert: $shop-worked-yellow-invert

$section-padding: 2rem 1.5rem

// Helper Classes
.nav--link:hover
    text-decoration: underline

@import "~bulma"
